[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/Laodaiy/mod-playerbots.git
[submodule "modules/mod-autobalance"]
	path = modules/mod-autobalance
	url = https://github.com/Laodaiy/mod-autobalance.git
[submodule "modules/mod-transmog"]
	path = modules/mod-transmog
	url = https://github.com/azerothcore/mod-transmog.git
[submodule "modules/mod-eluna"]
	path = modules/mod-eluna
	url = https://github.com/azerothcore/mod-eluna.git
[submodule "modules/mod-ah-bot"]
	path = modules/mod-ah-bot
	url = https://github.com/azerothcore/mod-ah-bot.git
[submodule "modules/mod-challenge-modes"]
	path = modules/mod-challenge-modes
	url = https://github.com/Laodaiy/mod-challenge-modes.git
[submodule "modules/mod-aoe-loot"]
	path = modules/mod-aoe-loot
	url = https://github.com/Laodaiy/mod-aoe-loot.git
[submodule "modules/mod-reagent-bank"]
	path = modules/mod-reagent-bank
	url = https://github.com/Laodaiy/mod-reagent-bank.git
[submodule "modules/mod-cfbg"]
	path = modules/mod-cfbg
	url = https://github.com/Laodaiy/mod-cfbg.git
[submodule "modules/mod-weapon-visual"]
	path = modules/mod-weapon-visual
	url = https://github.com/Laodaiy/mod-weapon-visual.git
[submodule "modules/mod-bg-reward"]
	path = modules/mod-bg-reward
	url = https://github.com/Laodaiy/mod-bg-reward.git
[submodule "modules/mod-solocraft"]
	path = modules/mod-solocraft
	url = https://github.com/Laodaiy/mod-solocraft.git
	branch = npcbots_3.3.5
[submodule "modules/mod-statbooster"]
	path = modules/mod-statbooster
	url = https://github.com/Laodaiy/mod-statbooster.git
[submodule "modules/mod-better-item-reloading"]
	path = modules/mod-better-item-reloading
	url = https://github.com/azerothcore/mod-better-item-reloading.git
[submodule "modules/mod-1v1-arena"]
	path = modules/mod-1v1-arena
	url = https://github.com/Laodaiy/mod-1v1-arena.git
[submodule "modules/mod-solo-lfg"]
	path = modules/mod-solo-lfg
	url = https://github.com/Laodaiy/mod-solo-lfg.git
[submodule "modules/mod-dungeonrespawn"]
	path = modules/mod-dungeonrespawn
	url = https://github.com/Laodaiy/mod-dungeonrespawn.git
